* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  background-color: #e9ecf4;
  color: #000;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif; }

.divTekemilas {
  display: flex;
  flex-direction: column;
  background-color: #e9ecf4; }

.tituloTekemilasDiv {
  font-family: "Koulen", sans-serif;
  text-align: center;
  color: black; }

.heroText {
  background: url(../img/fondoq.jpg);
  background-size: 100% 100%;
  padding: 60px 0 30px;
  color: black;
  text-align: center;
  font-family: "Koulen", sans-serif; }

.heroText h1::after {
  content: " ";
  display: block;
  margin: 20px auto 40px;
  text-decoration: none;
  color: white;
  padding: 10px; }

/* ---------- PRODUCTOS ----------  */
.tituloProductos {
  font-family: "Koulen", sans-serif;
  text-align: center;
  color: black;
  text-transform: uppercase; }

/* ---------- NOSOTROS --------- */
.tituloNosotros {
  font-family: "Koulen", sans-serif;
  text-align: center;
  color: black;
  text-transform: uppercase; }

.cajaNosotros {
  display: flex;
  background-color: #e9ecf4; }

.cajaNosotros div {
  width: 50%;
  padding: 10px; }

.cajaNosotros h2 {
  text-align: center; }

.ubicacion {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e9ecf4; }

.ubicacion div {
  width: 50%;
  padding: 10px; }

.ubicacion h3 {
  text-align: center; }

/* ---------- MEDIOS DE PAGO ---------- */
.tituloPagos {
  font-family: "Koulen", sans-serif;
  text-align: center;
  color: black;
  text-transform: uppercase; }

/* ---------- MEDIA ---------- */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header header" "contenido contenido contenido" "sidebar sidebar sidebar" "widget-1 widget-2 widget-2" "footer footer footer"; } }

@media screen and (max-width: 768px) {
  .contenedorNosotros {
    grid-template-areas: "header header header" ".     tituNosotros   ." "contenido contenido sidebar" "widget-1 widget-1 sidebar" "widget-2 widget-2 widget-2" "footer footer footer"; } }
