//colores
$colors:(primary:#e9ecf4);
$color-titulo:(black);

//tipografia
$fuente-inicio: 'Montserrat';
$fuente-body: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
$fuente-paginas: 'Koulen';
